@charset "utf-8";

/* Lists, background, and text */
html {
   background-color: white;
}

body {
   font-family: "sans-serif";
   
}

/* Pseudo classes/elements */
header h1 {
   font-size: 2em;
   margin-bottom: 10px;

}
h3 {
	font-size: 1em;
	margin-bottom: 5px;
}
article.intro {
	background-color: #faf5e3;
}

.current-time {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: #333;
	background-color: #faf5e3; 
}

.countdown {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
		
footer {
   background-color: #000080;
   color: white;
}

/* Styling for links within article.intro */
.article.intro a:link {
   color: #000080; /* Link color for unvisited links */
   text-decoration: none; /* Remove underline */
}

.article.intro a:visited {
   color: #800080; /* Link color for visited links */
}