<header>
    <!-- Header section -->
	<img src="perfil.png" alt="Profile Picture" /> <!-- Inline image -->
       <h1>Brenda Sayonara Souza Oliveira</h1>
	   <div>
	    <ul>
             <li>IT Student | Full Stack Programming</li>
             <li>Cloud & Virtualization Tech</li>
         </ul>
		</div>
       <nav>
           <!-- Navigation list with hypertext links -->
          <ul>
             <li><a href="index.html">Home</a></li>
             <li><a href="bssoresume.html">Resume</a></li>
             <li><a href="bssoportfolio.html">Portfolio</a></li>
             <li><a href="bssocontact.html">Contact</a></li>
          </ul>
       </nav>       
</header>