<header>
	<img src="images/banner.png" alt="Profile Picture" /> 
       <h1>Brenda Sayonara Souza Oliveira</h1>
	   <h2>IT Student | Full Stack Programming</h2>
       <h2>Cloud & Virtualization Tech</h2>
    
       <nav>
           <!-- Navigation list with hypertext links -->
          <ul>
             <li><a href="index.html">Home</a></li>
             <li><a href="resume.html">Resume</a></li>
             <li><a href="contact.html">Contact</a></li>
          </ul>
       </nav>       
</header>