@charset "utf-8";

/* Lists, background, and text */
html {
    background-color: white;
}

body {
    font-family: "sans-serif";
    max-width: 960px;
    min-width: 640px;
    padding: 20px;
}

/* Pseudo classes/elements */
header {
    overflow: hidden;
    padding: 10px 20px;
    color: #000080;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
}

header div {
    width: 60%;
}

header div ul {
    margin-top: 10px;
}

header div ul li {
    display: block;
    margin-right: 10px;
}

header nav {
    width: 40%;
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

article {
    background-color: #f6faee;
}

/* Styling for links */
a:link {
    color: #000080; /* Link color for unvisited links */
    text-decoration: none; /* Remove underline */
}

a:visited {
    color: #800080; /* Link color for visited links */
}

/* Footer */
footer {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 100%;
    padding: 10px 0;
}

footer img {
    max-width: 100%;
    height: auto;
}

footer nav ul li {
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    header {
       padding: 10px;
   }
 
   header nav {
       flex-direction: column;
   }
 
   header nav ul {
       display: block; 
       text-align: center; 
   }
   header div {
    margin-top: 20px;
   }
 }
 
 @media only screen and (min-width: 769px) {
    header nav ul {
       display: flex;
    }
    header nav {
       flex-direction: row;
    }
 }
 
 @media only screen and (min-width: 1025px) {
    body {
       margin: 0 auto;
    }
 
    header, main, footer {
       margin: 0 auto;
       width: 100%;
    }
 
    main {
       margin: 10px 0;
    }
 }