@charset "utf-8";

/* Lists, background, and text */
html {
   background-color: white;
   
}

body {
   font-family: "sans-serif";
   max-width: 960px;
   min-width: 640px;
   padding: 20px;
}

/* Pseudo classes/elements */

header {
    overflow: hidden;
    padding: 10px 20px;
    color: 000080;
}
h1 {
    font-size: 2em;
    margin-bottom: 10px;
 
 }

h3 {
    font-size: 1em;
    margin-bottom: 5px;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
}
header div {
    width: 60%;
}

header div ul {
    margin-top: 10px;
}

header div ul li {
    display: block;
    margin-right: 10px;
}


header nav {
    width: 40%;
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

article.intro {
    clear: both;
    padding: 20px;
}


main {
	clear: both;
	padding: 10px;
}


article {
	background-color: #f6faee;
}

		
/* Footer */
footer {
    text-align: center;
    margin: 20px auto 0 auto;
    width: 100%;
    padding: 10px 0;
 }
 
 footer img {
    max-width: 100%;
    height: auto;
 }
 
 footer nav ul li {
     display: inline-block;
     margin-left: 15px;
    font-weight: bold;
  
 }

/* Styling for links within article.intro */
a:link {
   color: #000080; /* Link color for unvisited links */
   text-decoration: none; /* Remove underline */
}

a:visited {
   color: #800080; /* Link color for visited links */
}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 3fr;
    gap: 0px; 
}

/* Absolute positioning */
#absolute {
    position: absolute;
    top: 200;
    width: 100%;
}

/* Media query for screens up to 768px */
@media only screen and (max-width: 768px){
	header{
	padding: 10px;
	}
	header nav ul {
	display: none;
	}
	header nav ul li {
	display: block;
	margin: 10px 0;
	}
	article {
	padding: 10px;
	}
}
/* Media query for screens from 769px onwards */
@media only screen and (min-width: 769px){
	header nav ul {
	display: block;
	}
}
/* Media query for screens from 1025px onwards */
@media only screen and (min-width: 1025px) {
	body {
	display: flex;
	flex-direction: row;
	}
	header, main, footer {
	padding: 20px;
	margin: 0 auto;
	}
	header {
	flex: 0 0 20%;
	max-width: 20%;
	}
}